vars-user.el
non-elpa
recentf
elpa/
elpa-*/
elpy/
desktop/
eln-cache/
eshell/
games/
url/
auto-save-list/
pyim/
transient/
abbrev_defs
tramp
*.dat
*.elc
.org-id-locations
ido.last
bookmarks
.emacs.desktop
.emacs.desktop.lock
network-security.data
